@use '../../foundation/mixin' as *;
@use '../../foundation/variable' as *;

.c-head {
 width: 100%;
 text-align: center;
 font-size: 3rem; 
 line-height: calc(50 / 30);
 @include sp {
   font-size: 2.5rem;
   line-height: calc(40 / 25);
 }
}

.c-head--wh {
 color: #fff;
}